
html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: middle;
	font-family:'Noto Sans JP', sans-serif;
	font-style: inherit;
	font-weight: inherit;
    background-position: right;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0 auto;
    letter-spacing: 2px;
}

body{
    background-image:url(../img/bg1.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    width:480px;
}


.page{
    position: fixed;
/* 
    background-image:url();
*/
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto,cover;
    right:0;
    height:100%;
    z-index:5;
}

.logo{
	float: left;
	position: relative;
	top: 10px;
	left: 60px;
    z-index:7;
}

.container{
	margin:10px 20px 10px 20px;
	background-image:url(../img/w2.png);
    background-position: center;
    height:720px;
	width: 440px;
	top: 80px;
	position: relative;
	border-radius: 25px;
    z-index:6;
}


.main1{
	position: relative;
	right:-10px;
    top:-30px;
	margin: 10px 20px;
	overflow: hidden;
	overflow-y:scroll;
	width: 95%;
	height: 93%;
	color: #1D100f;

}	
    
.content-1{
	margin: 0px 20px;
	width: 380px;
	height: 600px;
	top: 15px;
    display: inline-block;
	position: relative;
    
}
    
.content-2{
    margin: 0px 20px;
	width: 380px;
	height: 600px;
	left: 0px;
    top:15px;
    display: inline-block;
	position: relative;
}

p{
    line-height:16px;
}

h1{
    font-family: 'Kelly Slab', cursive;
    font-size: 40px;
    text-shadow:9px 3px 0px #fff;
    margin:1;
    padding:4px;
    display: inline-block;
	position: relative;
}

.txt1{
    margin:0px 0px;
    width: 380px;
    height: 600px;
    left:5px;
    top:25px;
    line-height:24px;
    display: inline-block;
	position: relative;
}

.txt1  p{
	font-size: 16px;
    line-height: 18px;
    padding-top:6px;
    padding-bottom: 4px;
}

